body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

navbar {
  overflow-x: hidden;
  background-color: #fff;
}

.nav-link {
  overflow-x: hidden;
  color: #333;
}

/* Custom styles for landing section */
#landing {
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#landing img {
  overflow-x: hidden;
  max-width: 250px;
  border: 5px solid #fff;
  border-radius: 50%;
}

#about {
  overflow-x: hidden;
  padding: 60px 0;
}

/* Set a fixed height for the card images */
.card-img-top {
  height: 400px;
  object-fit: auto; /* Maintain image aspect ratio while covering the designated height */
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* Additional styling for the card containers */
.card {
  border: none; /* Remove the card border */
  border-radius: 10px; /* Add rounded corners */
  transition: box-shadow 0.3s; /* Add a shadow transition on hover */
}

/* Style for the card title */
.card-title {
  font-size: 1.25rem; /* Adjust the title font size */
  margin: 10px 0; /* Add some spacing around the title */
}

/* Style for the card text */
.card-text {
  font-size: 1rem; /* Adjust the text font size */
  height: 60px;
}

.card-text-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card-text-content {
  flex-grow: 1;
}

.card-text-scroll {
  flex-shrink: 1;
  max-height: 100px; /* Set the desired max height for the scrollable area */
  overflow-y: auto;
  padding-left: 1px; /* Add some spacing for the sidebar */
  border-left: 2px solid #333; /* Add a border to the sidebar */
}

.card-text-scroll p {
  margin: 0;
}


/* Style for the "Learn More" button */
.btn-primary {
  background-color: #007bff; /* Change the button background color */
  border: none; /* Remove the button border */
}

.btn-primary:hover {
  background-color: #0056b3; /* Change the button background color on hover */
}

/* Add some margin to the "Learn More" button */
.btn-primary {
  margin-top: 10px;
}

/* Add smooth scrolling to card-text sections */
.card-text {
  font-size: 1rem;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Add smooth scrolling to the "View" buttons */
.card-link button {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}
